<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.common.dev.js"></script>
    <title>Document</title>
</head>

<body>
    <div id="div1">
        {{msg}}<br>
        <div v-if="count== 0">
            {{count}}==0
        </div>
        <div v-else-if="count < 5" :class="['active','a2', {'anothor': count > 3}]" :style="styleMsg">
            {{count}} &lt; 5
        </div>
        <div v-else>
            {{count}} > 5
        </div>
        <div v-show="count==0">
            {{count}}
        </div>
        <br>
        <div v-for="item in list">
            {{item}}<br>
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#div1',
        data: {
            msg: 'hello vue',
            count: 1,
            list: [1, 2, 3, 4, 5],
            styleMsg: {
                color: 'red'
            }
        },
    })
</script>

</html>